[Unit]
Description=OpenIKED key generation
ConditionFileNotEmpty=|!/etc/iked/private/local.key
ConditionFileNotEmpty=|!/etc/iked/local.pub

[Service]
Type=oneshot	
ExecStart=/usr/libexec/openiked/openiked-keygen

[Install]
WantedBy=openiked-keygen.target
